# Project archives
Arsip_Project/
Archive*/

# Datasets and staging data
dataset_final/
yolo_dataset/
yolo_detection_dataset/
staging/

# YOLO pre-trained weights and training runs
*.pt
runs/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
venv/
.venv/
env/
ENV/
bin/
include/
lib/
share/

# OS-specific files
Thumbs.db
db.
